<h1 class="mt-5">Add city</h1>
<h5 class="mt-5">Add your city</h3>


<form action="/addCity" method="post">
	Name: <input type="text" name="cname"><br>
	Population: <input type="text" name="pop"><br>
	Region: <select name="rid"> 
		<option value="NULL">NULL</option>
		{{#each region}}
			<option value="{{id}}">{{region_name}}</option>
		{{/each}}
	</select><br>
	<input type="submit" value="submit"/>
</form>
<br><br><br><br><br>
<h3>List of Events</h3>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>City Name</th>
			<th>Population</th>
			<th>rid</th>
			<th>Update/remove</th>
		</tr>
	</thead>
	<tbody>
		{{#each city}}
			<tr>
				<td>{{id}}</td>
				<td>{{city_name}}</td>
				<td>{{population}}</td>
				<td>{{rid}}</td>
				<td><button type="button" onclick="deleteCity({{id}})">Remove</button>
				<a href="/city/{{id}}">Update</a></td>
			</tr>
		{{/each}}
	</tbody>

</table>
