<h1 class="mt-5">Add event</h1>
<h5 class="mt-5">Add your event</h3>
<form action="/addEvent" method="post">
	ID: <input type="text" name="id"><br>
	Name: <input type="text" name="name"><br>
	Description: <input type="text" height="20px" name="desc"><br>
	People ID: <input type="text" name="pid"><br>
	Region ID: <input type="text" name="rid"><br>
	Time periodID: <input type="text" name="time"><br>
	<input type="submit" value="submit"/>
</form>

<br><br><br><br><br>
<h3>List of Events</h3>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Event Name</th>
			<th>Description</th>
			<th>reid</th>
			<th>tpid</th>
			<th>update/remove</th>
		</tr>
	</thead>
	<tbody>
		{{#each event}}
			<tr>
				<td>{{id}}</td>
				<td>{{event_name}}</td>
				<td>{{description}}</td>
				<td>{{reid}}</td>
				<td>{{tpid}}</td>
				<td><button type="button" id="removeId1">Remove</button>
				<button type="button" id="updateId2">Update</button></td>
			</tr>
		{{/each}}
	</tbody>

</table>
