<h1 class="mt-5">Add event</h1>
<h5 class="mt-5">Add your event</h3>
<form action="/addEvent" method="post">
	Name: <input type="text" name="ename"><br>
	Description: <input type="text" height="20px" name="desc"><br>
	Region: <select name="reid">
			{{#each region}}
				<option value="{{id}}">{{region_name}}</option>
			{{/each}}
			</select><br>
	Time period: <select name="tpid">
			{{#each time}}
				<option value="{{id}}">{{start_year}} - {{end_year}}</option>
			{{/each}}
				</select><br>
	<input type="submit" value="submit"/>
</form>

<br><br><br><br><br>
<h3>List of Events</h3>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Event Name</th>
			<th>Description</th>
			<th>reid</th>
			<th>tpid</th>
			<th>update/remove</th>
		</tr>
	</thead>
	<tbody>
		{{#each event}}
			<tr>
				<td>{{id}}</td>
				<td>{{event_name}}</td>
				<td>{{description}}</td>
				<td>{{reid}}</td>
				<td>{{tpid}}</td>
				<td><button type="button" onclick="deleteEvent({{id}})"">Remove</button>
				<a href="/event/{{id}}">Update</a></td>
			</tr>
		{{/each}}
	</tbody>

</table>
