<h1 class="mt-5">Update event</h1>
<h5 class="mt-5">Update your event</h3>
		
<form action="/event/"
	method="post">
	<input type="hidden" name="id" value="{{event.id}}">
	Name: <input type="text" name="ename" value="{{event.event_name}}"><br>
	Description: <input type="text" height="20px" name="desc" value="{{event.description}}"><br>
	Region: <select name="reid">
			{{#each region}}
				<option value="{{id}}">{{region_name}}</option>
			{{/each}}
			</select><br>
	Time period: <select name="tpid">
			{{#each time}}
				<option value="{{id}}">{{start_year}} - {{end_year}}</option>
			{{/each}}
				</select><br>
	<input type="submit" value="submit"/>
</form>



<br><br><br><br><br><br>

