
<h1 class="mt-5">Update person</h1
<h5 class="mt-5">Update your person</h3>
		
<form action="/city/"
	method="post">
	<input type="hidden" name="id" value="{{city.id}}">
	Name: <input type="text" name="cname" value="{{city.city_name}}"><br>
	Population: <input type="text" name="pop" value="{{city.population}}"><br>
	Region: <select name="rid"> 
		{{#each region}}
			<option value="{{id}}">{{region_name}}</option>
		{{/each}}
	</select><br>
	<input type="submit" value="submit"/>
</form>



<br><br><br><br><br><br>

